<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-3">
      <app-left></app-left>
    </div>
    <div class="col-9">
<!--This is top banner for showing data like title,price etc.-->
      <div class="row">{{initialCount}} to {{totalcount}} of {{page.totalItemCount}}</div>
      <div class="row bg-primary text-white">
        <div class="col-3 border">Title</div>
        <div class="col-3 border">Author</div>
        <div class="col-2 border">Language</div>
        <div class="col-1 broder">Genre</div>
        <div class="col-1 border">Price</div>
        <div class="col-2 border">Best Seller</div>
      </div>
<!-- Fetching of data starts from here -->
      <div class="row" *ngFor="let D of data.data;index as i">
          {{count(page.numOfItems)}}
        <div class="col-3 border">{{D.name}}</div>
        <div class="col-3 border">{{D.author}}</div>
        <div class="col-2 border">{{D.language}}</div>
        <div class="col-1 border">{{D.genre}}</div>
        <div class="col-1 border">{{D.price}}</div>
        <div class="col-2 border">{{D.bestseller}}</div>
      </div>
    <div class="row mt-3">
      <div class="col-3"><button class="btn-primary form-control"(click)="next()">Next</button></div>
      <div class="col-3"><button class="btn-primary form-control"(click)="previous()">Previous</button></div>
    </div>
    </div>
  </div>
</div>
