<!-- this is tha main nav bar-->
<nav class="navbar navbar-expand navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">BookSite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class='nav-link' routerLink='/book'(click)="newarrival()" [queryParams]="{newarrival:'yes'}" routerLinkActive='active'>New Arrivals</a>
      </li>
      <li class='nav-item dropdown'>
        <a class="nav-link dropdown-toggle"mdbWavesEffect id="bookbygenredropdown" data-toggle="dropdown">Books by Genre</a>
        <div class="dropdown-menu" aria-labeledby="bookbygenredropdown" role="menu">
          <a class="dropdown-item" routerLink="/book/fiction" (click)="event('/fiction')">Fiction</a>
          <a class="dropdown-item" routerLink="/book/children" (click)="event('/children')">Children</a>
          <a class="dropdown-item" routerLink="/book/mystery" (click)="event('/mystery')">Mystery</a>
          <a class="dropdown-item" routerLink="/book/management" (click)="event('/management')">Management</a>
          <a class="dropdown-item" (click)="event('/selfhelp')">Self help</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/book" routerLinkActive="active" (click)="event('allbooks')">All Books</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">LOGIN</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
